[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/krisspr
[access "refs/for/refs/*"]
	read = group user/krisspr
	push = group user/krisspr
	label-Code-Review = -2..+2 group user/krisspr
	label-Verified = -1..+1 group user/krisspr
	rebase = group user/krisspr
	removeReviewer = group user/krisspr
	submit = group user/krisspr
[access "refs/heads/*"]
	read = group user/krisspr
	create = group user/krisspr
	push = +force group user/krisspr
	pushMerge = group user/krisspr
[access "refs/tags/*"]
	push = group user/krisspr
	push = +force group user/krisspr
